<div class="pos-f-t" *ngIf="header==true">
        <nav class="navbar">

                <span style="cursor: pointer;" id="navbartoggler" class="navbar-toggler"
                        class="navbar-toggler" (click)="update()" type="button" data-toggle="collapse"
                        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i [ngClass]="isChecked?'bi bi-x':'bi bi-list'"></i>
                        <!-- <i class="bi bi-list"></i> -->

                </span>

                <ul class="navbar-nav flex-row">
                        <li class="nav-item text-white"><img src="../../assets/icons/DellUSTSOW.png" id="ustdellacc"
                                        alt="ustdellacc" />
                        </li>
                        <li class="nav-link" *ngIf="dashboard" routerLink="/dashboard" routerLinkActive="active"
                                id="dashboard">Dashboard
                        </li>
                        <li class="nav-link" *ngIf="sow" routerLink="/sow" routerLinkActive="active" id="sow">So</li>
                        <li class="nav-link" *ngIf="candidatedetails" routerLink="/candidatedetails"
                                routerLinkActive="active" id="candidate">Candidate</li>
                        <li class="nav-link" *ngIf="mapping" routerLink="/mapping" routerLinkActive="active"
                                id="mapping">Mapping</li>
                        <li class="nav-link" *ngIf="domain" routerLink="/domain" routerLinkActive="active" id="domain">
                                Domain</li>
                        <li class="nav-link" *ngIf="technology" routerLink="/technology" routerLinkActive="active"
                                id="tech">Technology</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                        <div class="menu__item1">
                                <a (click)="managePassword()">
                                        <i class="bi bi-gear" id="set"></i><i class="bi bi-caret-down"></i>
                                </a>
                                <div *ngIf="managePw==true" class="userblock">
                                        <a *ngIf="registration" class="menu__item2" routerLink="/registration">
                                                Registration
                                        </a>
                                        <a *ngIf="ChangePW" class="menu__item2" routerLink="/changePw">
                                                Change Password
                                        </a>
                                </div>
                        </div>

                        <div class="account">{{Username}}<i class="bi bi-person-circle p-1"></i>
                        </div>
                        <div *ngIf="login" class="btn btn-dark p-1" id="logOut">
                                <li routerLink="active" (click)="logOut()">Logout</li>
                        </div>

                </ul>
        </nav>
        <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-light">

                        <ul class="menu">
                                <li class="menuitem" *ngIf="dashboard" routerLink="/dashboard" (click)="MenuClose()">
                                        <i class="bi bi-speedometer2"></i>Dashboard
                                </li>
                                <li class="menuitem" *ngIf="sow" routerLink="/sow" (click)="MenuClose()">
                                        <i class="bi bi-card-list"></i>So
                                </li>
                                <li class="menuitem" *ngIf="candidatedetails" routerLink="/candidatedetails"
                                        (click)="MenuClose()"><i class="bi bi-person-lines-fill"></i>Candidate</li>
                                <li class="menuitem" *ngIf="mapping" routerLink="/mapping" (click)="MenuClose()"><i
                                                class="bi bi-diagram-3"></i>Mapping</li>
                                <li class="menuitem" *ngIf="domain" routerLink="/domain" (click)="MenuClose()"><i
                                                class="bi bi-globe-americas"></i>Domain</li>
                                <li class="menuitem" *ngIf="technology" routerLink="/technology" (click)="MenuClose()">
                                        <i class="bi bi-rocket-takeoff"></i>Technology
                                </li>

                                <div class="menu__item3">
                                        <a (click)="managePassword1()">
                                                <i class="bi bi-gear" id="set"></i><a id="usersettings">User
                                                        Settings</a><i class="bi bi-caret-down"></i>
                                        </a>
                                        <div class="reg" *ngIf="managePw1==true">

                                                <a *ngIf="registration" class="menu__item4" routerLink="/registration"
                                                        (click)="MenuClose()">
                                                        <i class="bi bi-pencil-square"></i>Registration
                                                </a>
                                                <a *ngIf="ChangePW" class="menu__item2" routerLink="/changePw"
                                                        (click)="MenuClose()">
                                                        <i class="bi bi-key"></i>Change Password
                                                </a>
                                        </div>
                                </div>
                                <li *ngIf="login"><a class="menuitem" (click)="logOut()">
                                                <i class="bi bi-box-arrow-right"></i>Logout</a></li>
                        </ul>
                </div>
        </div>
        <div class="smallscreen">

                <ul class="smallscreenmenu">
                        <li *ngIf="dashboard" routerLink="/dashboard">
                                <i class="bi bi-speedometer2"></i>Dashboard
                        </li>
                        <li *ngIf="sow" routerLink="/sow">
                                <i class="bi bi-card-list"></i>So
                        </li>
                        <li *ngIf="candidatedetails" routerLink="/candidatedetails"><i
                                        class="bi bi-person-lines-fill"></i>Candidate</li>
                        <li *ngIf="mapping" routerLink="/mapping"><i class="bi bi-diagram-3"></i>Mapping</li>
                        <div>
                                <a (click)="toggleMore()">
                                        <i class="bi bi-three-dots"></i>More
                                </a>
                                <div *ngIf="showMoreItems" [ngClass]="isAuthor ? 'showmoremenu' : 'showmoremenu_user'">

                                        <ul>

                                                <li *ngIf="domain" routerLink="/domain">
                                                        <i class="bi bi-globe-americas"></i>Domain
                                                </li>
                                                <li *ngIf="technology" routerLink="/technology">
                                                        <i class="bi bi-rocket-takeoff"></i>Technology
                                                </li>
                                                <li *ngIf="registration" routerLink="/registration">
                                                        <i class="bi bi-pencil-square"></i>Registration
                                                </li>
                                                <li *ngIf="ChangePW" routerLink="/changePw">
                                                        <i class="bi bi-key"></i>Change Password
                                                </li>
                                                <li *ngIf="login"><a (click)="logOut()">
                                                                <i class="bi bi-box-arrow-right"></i>Logout</a></li>
                                        </ul>
                                </div>
                        </div>


                </ul>

        </div>



</div>